/* Add CSS Styling */
.click {
    background-color: black;
    color: white;
}

.noClick {
    background-color: yellow;
}

.click,
.noClick {
    font-size: 28px;
    font-family: Arial'Helvetica', 'Times New Roman', 'sans-serif';
}